<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button routerLink="/pagina1" routerDirection="forward">Ir a la página 1</ion-button>
    <ion-button routerLink="/pagina2" routerDirection="forward">Ir a la página 2</ion-button>
    <ion-button routerLink="/pagina3" routerDirection="forward">Ir a la página 3</ion-button>
    <ion-button routerLink="/pagina4" routerDirection="forward">Ir a la página 4</ion-button>
  </div>
</ion-content>